body {
    font-family: sans-serif;
    background-color: blue;
}

.center {
    text-align: center;
}

.info {
    text-align: left;
}

.img-medium {
    height: 200px;
}
.container
{
    font-family: sans-serif;
    background-color: cyan;
    margin-top: 75px;
    padding: 33px;
    text-align: center;
}

.footer{
    text-align:center;
}