body {
    font-family: sans-serif;
    background-color: blue;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 400px;
}
.container
{
    font-family: sans-serif;
    background-color: cyan;
    margin-top: 75px;
    padding: 33px;
    text-align: center;
}
